name: Build

on:
  - push
  - pull_request

jobs:
  posix:
    strategy:
      matrix:
        # python: ["3.10", "3.12", "3.14"]
        # os: [ubuntu-latest, macos-latest]
        python: ["3.12"]
        os: [macos-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Virtual env
        run: python${{ matrix.python }} -m venv .venv

      - name: Build
        run: |
          source .venv/bin/activate
          cargo build

      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Wait for ssh connection
        uses: owenthereal/action-upterm@v1

      - name: Test (cargo)
        run: |
          source .venv/bin/activate
          pip install gage-inspect
          cargo test  # PYTHONPATH=.venv/lib/python${{ matrix.python }}/site-packages

      - name: Package
        run: |
          source .venv/bin/activate
          pip install maturin
          maturin build --release
          pip install target/wheels/*.whl
          gage status -v

      - name: Test (groktest)
        run: |
          source .venv/bin/activate
          groktest .

      - name: Lint
        run: |
          source .venv/bin/activate
          cargo clippy
